<ion-view view-title="Pro Account" hide-tabs>
  <ion-content class="padding">
    <div class="list">
      <a class="item item-icon-left" href="#">
       <i class="icon ion-person"></i>
        <span ng-bind="AccountInfo.email"></span>
      </a>
    </div>
    <div class="row">
      <div class="col">Total Equity</div>
      <div class="col"></div>
    </div>
    <div class="row">
      <div class="col">Initial Margin</div>
      <div class="col"></div>
    </div>
    <div class="row">
      <div class="col">Usable Margin</div>
      <div class="col"></div>
    </div>
  </ion-content>
</ion-view>
