.login{
  .spinner{
    svg {
      width: 20px;
      height: 20px;
    }
  }
  .item-input{
    .row{
      padding: 0;
    }
    .col{
      padding: 0;
    }
  }
  .error_box{
    height: 30px;
    .error{
      background-color: #e42112;
      color:$white;
    }
  }
}
