<ion-view view-title="Pro Account" hide-tabs>
  <ion-nav-bar>
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content class="padding account_detail" class="bar-stable bar-positive">
    <div class="list">
      <a class="item item-icon-left" href="#">
       <i class="icon ion-person"></i>
        <span ng-bind="AccountInfo.email"></span>
      </a>
    </div>
    <div class="list list-inset">
      <div class="item">
        <div class="row">
          <div class="col">Total Equity:</div>
          <div class="col">{{(AccountInfo.totalEquity) | number:2 | emptyCurrency}}</div>
        </div>
      </div>
      <div class="item">
        <div class="row">
          <div class="col">Initial Margin:</div>
          <div class="col">{{(AccountInfo.initialMarginRequired) | number:2 | emptyCurrency}}</div>
        </div>
      </div>
      <div class="item">
        <div class="row">
          <div class="col">Usable Margin:</div>
          <div class="col">{{AccountInfo.usableMargin | number:2 | emptyCurrency}}</div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
