<ion-view  view-title="Home">
    <ion-content scroll="false">
        <!--<ion-refresher-->
            <!--pulling-text="Pull to refresh..."-->
            <!--on-refresh="fetchRandomText()">-->
        <!--</ion-refresher>-->
        <!--<div class="loader" ng-if="!myHTML">-->
            <!--<ion-spinner></ion-spinner>-->
        <!--</div>-->
        <!--<div class="content" ng-bind-html="myHTML">-->
          <!-- -->
        <!--</div>-->

        <div class="list">
          <a class="item item-icon-left item-icon-right" ui-sref="app.pro-chart-detail">
            <i class="icon ion-stats-bars"></i>
            <h2>BTCC Pro</h2>
            <p>Volume:</p>
          </a>
          <a class="item item-icon-left item-icon-right" ui-sref="app.spot-chart-detail">
            <i class="icon ion-stats-bars"></i>
            <h2>BTCC Spot</h2>
            <p>Volume:</p>
          </a>
        </div>



    </ion-content>

</ion-view>
