<ion-view view-title="Login">
  <ion-content scroll="false">
    <div class="content login">
      <form name="formLogin" novalidate>
        <div class="list list-inset error_box">
          <div class="item item-divider error invalid-user" ng-show="invalidUser">
              <spa>Username or password error!</span>
          </div>
          <div class="item item-divider error wrong-captcha" ng-show="wrongCaptcha">
              <span translate="ERROR.CAPTCHA_WRONG">Captcha Error!</span>
          </div>
          <div class="item item-divider error need-captcha" ng-show="needCaptcha">
              <span>Nedd captcha!</span>
          </div>
          <div class="item item-divider error locked" ng-show="userLocked">
              <span translate="ERROR.LOGIN_ACCOUNT_LOCKED_1"></span>
              <span translate="ERROR.LOGIN_ACCOUNT_LOCKED_2"></span>
              <span class="close" ng-click="userLocked=false"></span>
          </div>
          <div class="item item-divider error locked" ng-show="lockedForever">
              <i class="i-warning"></i>
              <span translate="ERROR.LOGIN_LOCKED_FOREVER"></span>
              <span class="close" ng-click="lockedForever=false"></span>
          </div>
        </div>
        <div class="list list-inset">
          <label class="item item-input">
            <input type="text" placeholder="Email" ng-model="user.username" required>
          </label>
          <label class="item item-input">
            <input type="password" placeholder="Paddword" ng-model="user.password" required>
          </label>
          <label class="item item-input" ng-if="showCaptcha">
            <div class="row">
              <div class="col col-75">
                <input name="captcha" type="text" placeholder="Verification Code" ng-pattern="digital" ng-model="user.captcha" ng-change="captchaChanged()"  ng-minlength="4" ng-maxlength="4" required>
              </div>
              <div class="col">
                <img ng-src="{{captchaUrl}}" alt="captcha" class="captcha" style="height: 28px; width: 100%;" ng-click="refreshCaptcha()">
              </div>
            </div>
          </label>
        </div>
        <div class="padding">
          <button class="button button-block button-positive" ng-click="login(user)" ng-disabled="loging">Login
            <ion-spinner icon="spiral" class="spinner-light" ng-if="loging"></ion-spinner>
          </button>
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>
