<ion-view view-title="Login">
  <ion-content scroll="false">
    <div class="content has-header">
      <div class="list list-inset">
        <label class="item item-input">
          <input type="text" placeholder="Email">
        </label>
        <label class="item item-input">
          <input type="password" placeholder="Paddword">
        </label>
      </div>
      <div class="padding">
        <button class="button button-block button-positive">Login</button>
      </div>
    </div>
  </ion-content>
</ion-view>
