<ion-view>
    <ion-header-bar align-title="center" class="bar-positive">
    <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
        <h1 class="title">Settings</h1>
    </ion-header-bar>

    <ion-content>
        <div class="row">
          <div class="col col-50"></div>
          <div class="col col-50">
            <div class="orderbook">
              <table class="orderbook_header">
                  <tbody>
                  <tr>
                      <td><span translate="ORDERBOOK.PRICE"></span></td>
                      <td><span translate="ORDERBOOK.AMOUNT"></span></td>
                      <td><span translate="ORDERBOOK.TOTAL"></span></td>
                  </tr>
                  </tbody>
              </table>
              <div class="deal">
                <div class="sell clearfix">
                    <div class="sell-detail">
                        <table class="table table-hover">
                            <tbody>
                            <tr ng-repeat="item in nullData.slice(0,(orderBookCount-orderBook.orderbook.ask.length) > 0 ? orderBookCount-orderBook.orderbook.ask.length : 0) track by $index">
                                <td ng-bind="item.Price">-</td>
                                <td ng-bind="item.Quantity">-</td>
                                <td ng-bind="item.Total">-</td>
                            </tr>
                            <tr style="cursor: pointer"  ng-repeat="i in OrderBookResponse.orderbook.ask | orderBy: 'Price' |  limitTo: orderBookCount | orderBy: '-Price'" ng-class="{'overlimit':i.Price > ticker.quote[symbol].LimitUp}" ng-init="quantityHover = false" ng-mouseover="quantityHover = true" ng-mouseout="quantityHover = false">
                                <td ng-class="{'hover-disc':quantityHover}"  ng-click="getPrice(i.Price);resetPrice()" ng-bind="i.Price| number:2"></td>
                                <td ng-click="getPrice(i.Price);getQuantity(i.Quantity);resetPrice()" ng-mouseover="quantityHover = true" ng-bind="i.Quantity"></td>
                                <td ng-click="getPrice(i.Price);getQuantity(i.Total);resetPrice()" ng-mouseover="quantityHover = true" ng-bind="i.Total"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tradeState">
                    <table>
                        <tbody>
                        <tr class="newdeal">
                            <td>
                                <span ng-class="{'icon-Futuresicon_up':trades.trades[symbol][0].Side == 1, 'icon-Futuresicon_down': trades.trades[symbol][0].Side == 2}"></span>
                                <span ng-class="{'newdealprice-up': trades.trades[symbol][0].Side == 1, 'newdealprice-down': trades.trades[symbol][0].Side == 2}">
                                    <span ng-bind="trades.trades[symbol][0].Price | number:2"></span>
                                </span>
                            </td>
                            <td>
                                <span ng-class="{'points-up': ticker.quote[symbol].change >= 0, 'points-down': ticker.quote[symbol].change < 0}">
                                    {{ticker.quote[symbol].change | number:2 }} ({{ticker.quote[symbol].percent | number:2 }}%)
                                </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="buy">
                    <div class="buy-detail">
                        <table class="table table-hover">
                            <tbody>
                            <tr style="cursor: pointer"  ng-repeat="i in OrderBookResponse.orderbook.bid| limitTo: orderBookCount" ng-class="{'overlimit':i.Price < ticker.quote[symbol].LimitDown}" ng-init="quantityHover = false" ng-mouseover="quantityHover = true" ng-mouseout="quantityHover = false">
                                <td ng-class="{'hover-disc':quantityHover}" ng-click="getPrice(i.Price);resetPrice()" ng-bind="i.Price| number:2"></td>
                                <td ng-click="getPrice(i.Price);getQuantity(i.Quantity);resetPrice()" ng-bind="i.Quantity"></td>
                                <td ng-click="getPrice(i.Price);getQuantity(i.Total);resetPrice()" ng-bind="i.Total"></td>
                            </tr>
                            <tr ng-repeat="item in nullData.slice(0,(orderBookCount-orderBook.orderbook.bid.length) > 0 ? orderBookCount-orderBook.orderbook.bid.length : 0) track by $index">
                                <td ng-bind="item.Price">-</td>
                                <td ng-bind="item.Quantity">-</td>
                                <td ng-bind="item.Total">-</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </ion-content>

</ion-view>
