<ion-view  view-title="Trade">
    <ion-content scroll="false">
      <div class="row" style="height:100%;">
          <div class="col trade_box">
            <form name="tradeForm" novalidate>
              <div class="list trade_form">
                <div class="row">
                  <ion-radio ng-repeat="item in tradeList"
                            ng-value="item.value"
                            ng-model="data.orderType">
                   {{ item.text }}
                 </ion-radio>
               </div>
                <div ng-show="data.orderType == '2'">
                  <label class="item item-input">
                    <input type="number" name="limitPrice" placeholder="Price" ng-model="data.limitPrice" required>
                  </label>
                  <label class="item item-input">
                    <input type="number" name="limitQuantity" placeholder="Quantity" ng-model="data.limitQuantity" required>
                  </label>
                  <button class="button button-block button-positive" ng-click="placeOrder(tradeForm,data,1)">
                    Limit Buy
                  </button>
                  <button class="button button-block button-assertive" ng-click="placeOrder(tradeForm,data,2)">
                    Limit Sell
                  </button>
                </div>
                <div ng-show="data.orderType == '1'">
                   <label class="item item-input">
                     <input type="number" placeholder="MarketQuantity" ng-model="data.marketQuantity" required>
                   </label>
                   <button class="button button-block button-positive">
                     Market Buy
                   </button>
                   <button class="button button-block button-assertive">
                     Market Sell
                   </button>
                </div>
              </div>
            </form>
            <div class="list list-inset trade_info">
               <div class="item">
                 <h3>Useable Margin:</h3>
                 <p>{{(AccountInfo.initialMarginRequired) | number:2 | emptyCurrency}}</p>
                 <h3>Max Qty:</h3>
                 <p>
                   {{AccountInfo.maxQty | number:0 | emptyCurrency}}
                 </p>
               </div>
             </div>
          </div>
          <div class="col orderbook_box">
            <div ng-include="'app/components/orderbook/orderbook.html'"></div>
          </div>
        </div>
    </ion-content>
</ion-view>
