<ion-tabs class="tabs-light tabs-background-light tabs-color-positive tabs-top has-tabs-top tabs-trade">
  <ion-tab title="Trade" ui-sref="app.tabs.pro-trade-tab.trade">
      <ion-nav-view name="trade-tab"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Pending" ui-sref="app.tabs.pending">
      <ion-nav-view name="tab-messages-sent"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Position" ui-sref="app.tabs.position">
      <ion-nav-view name="tab-messages-flagged"></ion-nav-view>
  </ion-tab>
</ion-tabs>
